.el-step {
  pointer-events: none;

  & .is-process {
    color: var(--color--primary);
    font-weight: 300;

    & .el-step__icon {
      border-color: var(--color--primary);
      color: var(--color--primary);
    }
  }

  & .el-step__title {
    line-height: 1.4 !important;
  }
}
